<!DOCTYPE html>

<html lang="en">

<head>
  <title>Trail Tracker</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

 <!-- Google Icon Fonts used by Materialize -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!-- Materialize CSS Framework -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link rel="stylesheet" href="/stylesheets/rating.css" />
 <!-- JavaScript for Materialize -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav >
      <div class="nav-wrapper">
        <a href="" class="trail-tracker">Trail Tracker</a>
        <ul class="right">
          <li>
            <% if (user) { %>
              <a href="/logout" class="login-logout">Log Out</a>
            <% } else { %>
              <a href="/auth/google" class="login-logout"> Login with Google</a>

            <% } %>       
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="flex-container">
      <div class="flex-item"> 
        
        <h3>trails- ratings.ejs</h3>
        <td><a href="/trails" class="detail-button">User Trails</a></td>
      </div>
      <div class="flex-item" id="flex-middle">
          <li>Trail Info</li>

          <section id="ratings-page">
            <div><b>Name: </b></div>
            <div><%= trail.trailName %></div>
            <div><b>Location: </b></div>
            <div><%= trail.location %></div>
            <div><b>Length: </b></div>
            <div><%= trail.length %> Miles</div>
            </section>
          

          <!-- <textarea name="comment" form="usrform">Enter text here...</textarea>

          <form action="/" id="usrform">
            <input type="submit">
          </form> -->
      </div>

      <!-- <div class="flex-item" id="flex-middle">
        <section id="comment-column">
        <div>Comments render here</div>
        <div>Ratings: </div>
        <div><%= %> /5</div>
      </section>
      </div> -->
      

      <form action="/trails/<%= trail._id %>" method="POST">
        <div  class="flex-item" id="flex-middle comment-column">
            <label>Comments:</label>
            <textarea name="comment"></textarea>
            <br>
            <label>Rating:
            <select name="starRate">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option selected value="5">5</option>
            </select>
          </label>
            <br>
            <label>Date:
            <input type="datetime-local" name="date">
          </label>

            <input type="submit" value="Add Rating">
        </div>
    </form>

  </div>

</body>

</html>