<!DOCTYPE html>

<html lang="en">

<head>
  <title>Trail Tracker</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

 <!-- Google Icon Fonts used by Materialize -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!-- Materialize CSS Framework -->
 <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
 <link rel="stylesheet" href="/stylesheets/rating.css" />
 <!-- JavaScript for Materialize -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav >
      <div class="nav-wrapper">
        <a href="" class="trail-tracker">Trail Tracker</a>
        <ul class="right">
          <li>
            <% if (user) { %>
              <a href="/logout" class="login-logout">Log Out</a>
            <% } else { %>
              <a href="/auth/google" class="login-logout"> Login with Google</a>

            <% } %>       
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="flex-container">
    
      <div class="flex-item"> 
        <h5>trails- ratings.ejs</h5>
        <td><a href="/trails" class="detail-button">User Trails</a></td>
      </div>


      <div class="flex-item" id="flex-middle">
          <li>Trail Info</li><br>
          <section id="ratings-page">
            <div><b>Name: </b></div>
            <div><%= trail.trailName %></div>
            <div><b>Location: </b></div>
            <div><%= trail.location %></div>
            <div><b>Length: </b></div>
            <div><%= trail.trailLength %> Miles</div>
          </section>

          <!-- create() ratings controller -->
            <div id="ratings-page">
              <form action="/trails/<%= trail._id %>" method="POST">

                <br><label>Date:</label>
                <input type="datetime-local" name="date"><br>

                <br><label>Comments:</label>
                <textarea name="comment"></textarea><br>
                
                
                <br><label>Rating:</label>
                <select name="starRate" min="0" max="5">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select><br>
                
                <br><button type="submit">ADD RATING</button>

              </form>
            </div>


      </div>

     <!--  COMMENT COLUMN -->
     <div class="flex-item" id="flex-middle">
          <li>-Comment Info-</li>

          <% if(trail.ratings.length) { %> 
            
            <table>
              <thead>
              <tr>
                <th> Date</th>
                <th>Comment</th>
                <th>Rating</th>
              </tr>
              
            </thead>

            <tbody>
             <% trail.ratings.forEach(r => { %>
              <tr>
                <td><%= r.date.toDateString() %> </td>
                <td><%= r.comment %> </td>
                <td><%= r.starRate %> </td>
                <td><div class="comment">
                  <%= r.text %><br>
                  <% if (r.userId.equals(user._id)) { %>
                    <form action="/trails/<%= r._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                  <% } %>
                </div> </td>
              </tr>
              
             <% }) %> 
            </tbody>
            </table>
            <% } else { %> 
              <h5>No Comments yet</h5>
              
            <% } %> 
         
        </div>

        
        
  </div>

</body>
</html>